<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="www/index.css" rel="stylesheet" type="text/css" />
    <title>Worstbird</title>
</head>

<body>
    <h1>Worstbird</h1>
    <div id="time_menu">
        {%- if years|length == 0 -%}
        <div class="sub_menu">
            <a href="/{{ sel_year }}">{{ sel_year }}</a>
            <ul>
                {% for month in months %}
                <li><a href="/{{ sel_year }}/{{ months_num[loop.index0] }}">{{ month }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {%- endif -%}
        <div class="sub_menu">
            {% for year in years %}
            <div class="sub_menu">
                <a href="/{{ sel_year }}">{{ sel_year }}</a>
                {%- if year == sel_year -%}
                <ul>
                    {% for month in months %}
                    <li><a href="/{{ year }}/{{ months_num[loop.index0] }}">{{ month }}</a></li>
                    {% endfor %}
                </ul>
                {%- endif -%}
            </div>
            {% endfor %}
        </div>

        <div id="birds">
            {%- if birds|length == 0 -%}
            <h2>There was no Worstbird crowned for this Year</h2>
            {%- else -%}
            {% for bird in birds %}
            <div class="bird">
                <h4>{{ bird.name }}</h4>
                <iframe width="{{ bird.width }}" height="{{ bird.height + 130 }}"
                    src="https://macaulaylibrary.org/asset/{{ bird.assetid }}/embed/320" frameborder="0" allowfullscreen
                    style="width:320px;"></iframe>
                <div class="text">
                    <p>{{ bird.description }}</p>
                </div>
                <a href="/downvoteyear/{{ sel_year }}/{{ bird.id }}">DownVote</a>
            </div>
            {% endfor %}
            {%- endif -%}
        </div>
</body>

</html>